#stat_ip{
    max-width: 1170px;
    border: 3px solid blue;
    margin: 0 auto;
    padding: 10px;
    min-width: 440px;
}
.stat_center{
    text-align: center;
    color: blue;
} 
#stat_ip .get_table{
    margin: 0 auto;
    margin-bottom: 5px;
}
#stat_ip .get_table, #stat_ip .get_table th{
    border-collapse: collapse;
    border: 3px solid green;
    width: 90%;
}  
#stat_ip .get_table th, #stat_ip .get_table tr, #stat_ip table td {   
    border: 1px dashed green;
    /*padding: 3px;*/
    width: 20%;
    text-align: center;
}
#stat_ip .get_table th {
    border: 3px solid green; 
}

#stat_ip .font_min{
    font-size: 0.7em;
}
#stat_ip h3{
    padding-top: 20px;
}
#stat_ip .get_table tr{ 
    /*color: red;*/ 
}
.red {
    color: red;
}
#stat_ip .tr_small{
    display: inline-block;
    
}
#stat_ip .tr_small td{
    padding: 5px;
}

#stat_ip .get_table .tr_first  {
    line-height: 40px;
    font-weight: bold;
    /*font-size: 1.1em;*/
    border-top: 2px solid green; 
    border-bottom: 1px solid green; 
}

#stat_ip .form-group{
    display: inline-block;
    margin-bottom: 0px !important;
}
#stat_ip button[type='submit']{
    margin-left: 5px;
}

#stat_ip .button-reset{
    text-align: center;
}
#stat_ip .form-group {
    margin: 0 20px;
}

#statistics-enter{
    max-width: 1170px;
    margin: 0 auto;
    padding: 10px;

}
.hentry{
    margin: 0 auto;
    text-align: center;
}